
header {
  font-family: 'Times New Roman', Times, serif;
}

nav {
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 130%;
}

main {
  font-family: 'Times New Roman', Times, serif;
}

footer {
  font-family: 'Times New Roman', Times, serif;
  font-size: 110%;
}

body {
  overflow: hidden;
  background-color: dimgrey;
}

.grid-container {
  display: grid;
  grid-gap: 4px;
  height: 93vh;
  width: 96vw;
  background-color: inherit;
  padding: 1px;
  grid-template-areas: 
  'image image image header header header' 
  'nav main main main main main'
  'nav main main main main main' 
  'nav main main main main main' 
  'nav main main main main main' 
  'footer footer footer footer footer footer';
  grid-template-columns: 15% 15% 20% 15% 15% 20%;
  grid-template-rows: 20% 10% 20% 20% 20% 10%;
}

.grid-item {
  border: 1px solid black;
  background-color: gainsboro;
  text-align: center;
  border-radius: 8px;
}

.item1 {
  grid-area: image;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
}

.item2 {
  align-content: center;
  grid-area: header;
}

.item3 {
  text-align: left;
  grid-area: nav;
}

.item4 {
  grid-area: main;
}

.item5 {
  grid-area: footer;
}

.pleft {
  text-align: left;
  padding: 8px;
}

.pcenter {
  text-align: center;
  padding: 8px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:hover {
  color:white;
}

a:visited {
  color: rgb(167, 167, 167);
}

ul {
  list-style-type: none;
}

